@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a {
  color: black !important;
}

.brand-logo, h2 {
  font-family: 'Grand Hotel', cursive;
  margin-left: 5px !important;
}

.input-field input:focus {
  border-bottom: 1px solid rgb(82, 2, 82)!important;
  box-shadow: 0 1px 0 0 rgb(82, 2, 82)!important;
}

.mycard {
  margin-top: 40px;
}
.authcard {
  padding: 20px !important;
  text-align: center !important;
  max-width: 400px !important;
  margin: 10px auto !important;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 30%;
}

.home{
}

.home-card{
  max-width: 500px;
  height: max-content;
  margin: 26px auto;

}

#toast-container {
  top: 30px !important;
  right: 20px !important;
  left: auto !important;
}

